@import '../../scss/grid.scss';

.login-container {
    @include row;
    height: 100vh;
    background-color: #003b95;
}

.login-background {
    border: 1px solid black;
    height: 100vh;
    flex-basis: 60%;
    background: url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/02/19/16/budapest-1.jpg');
    //opacity: 0.5;
    background-size: cover;
}

.custom-card-container {
    @include column;
    flex-basis: 40%;
    padding: 0 2%;
    align-self: center;
    transform: translateY(-60px);

    .ant-card {
        padding: 0 2%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

.login-header {
    color: #ffff;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    padding: 20px;
    position: absolute;
}

.login-background-header {
    opacity: 0.8;
    background: #eeeeee;
    float: right;
    color: #000;
    font-size: 3.5rem;
    padding: 20px;
}

.login-btn {
    background-color: #003b95;
}

@media screen and (max-width: 750px) {
    .login-header {
        top: 0;
    }

    .login-container {
        @include column;
        @include justify-center;
        background-color: #003b95;
    }

    .custom-card-container {
        padding: 0;
        transform: translateY(0);
        width: 90%;
    }

    .login-header {
        font-size: 1.2rem;
    }

    .login-background {
        display: none;
    }
}

@media (max-width: 480px) {
    .login-header {
        font-size: 1rem;
    }
}
